<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>edit_profile</title>
</head>
<body>
<form method="post">
    {% csrf_token %}
    <h2>Редактирование профиля</h2>

    <label for="username">Логин</label>
    <input type="text" name="username">
    <br>
    <label for="email">Почта</label>
    <input type="email" name="email">
    <br>
    <label for="avatar">Аватарка</label>
    <input type="file" name="avatar">
    <br>
    <label for="first_name">Имя</label>
    <input type="text" name="first_name">
    <br>

    <button type="submit">Редактировать</button>

    {% if error %}
     <div>{{error}}</div>
    {% endif %}
</form>
</body>
</html>