<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Пост {{ post.id }}</title>
</head>
<body>
    {{ post.title }}
    {{ post.description }}

    <form method="post">
        {% csrf_token %}
        <p>Хотите добавить заказ?</p>
        <button type="submit">Добавить</button>
    </form>
</body>
</html>